     * {
     
     }
     
     @import url(https://fonts.googleapis.com/css?family=Open+Sans);
     header {
         background-color: white;
         color: white;

         padding-top: 50px;
         padding-bottom: 50px;
     }
     
     body {
         background: #f2f2f2;
         font-family: 'Open Sans', sans-serif;
     }
     
     nav {
         width: 100%;
         height: 90px;
         background-color: white;
         z-index: 99;
     }
     
     nav a:hover {
         text-decoration: none;
         color: white;
  
     }
     
     .review {
         padding-top: 20px;
     }
     
     .review ul {
         float: right;
     }
     
     .review ul li {
         display: inline-block;
         padding: 0 5px;
     }
     
     .REVIEWwrapNAV {
         width: auto;
         position: absolute;
         top: 10%;
         left: 70%;
         transform: translate(70%, -50%);
     }
     
     .SIGNwrapNAV {
         width: 10%;
         position: absolute;
         top: 10%;
         left: 80%;
         transform: translate(80%, -50%);
     }
     
     .search {
         width: 100%;
         position: relative
     }
     
     .searchTerm {
         float: left;
         width: 100%;
         border: 3px solid #1d753b;
         padding: 5px;
         height: 36px;
         border-radius: 5px;
         outline: none;
         color: #9DBFAF;
     }
     
     .searchTerm:focus {
         color: black;
     }
     
     .searchButton {
         background: #1d753b none repeat scroll 0 0;
         border: 1px solid #1d753b;
         border-radius: 5px;
         color: #fff;
         cursor: pointer;
         font-size: 20px;
         height: 52px;
         position: absolute;
         right: -65px;
         text-align: center;
         width: 46px;
     }

     
     .wrap {
         width: 30%;
         position: absolute;
         top: 60%;
         left: 48%;
         transform: translate(-50%, -50%);
     }
     
     .bottom {
         position: absolute;
         bottom: 10%;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         text-align: center;
     }
     
     .bottom li {
         display: inline-block;
         padding: 0 10px;
     }
     
     .wrapIMG {
         width: auto;
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
/*
     .wrapReview {
         width: auto;
         position: absolute;
         top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
     }*/
     
     .COURSEwrapNAV {
         width: auto;
         position: absolute;
         top: 75%;
         left: 20%;
         transform: translate(20%, 75%);
     }
     
     .LECTURERSwrapNAV {
         width: auto;
         position: absolute;
         top: 75%;
         left: 35%;
         transform: translate(35%, 75%);
     }
     
     .FLATSwrapNAV {
         width: auto;
         position: absolute;
         top: 75%;
         left: 50%;
         transform: translate(50%, 75%);
     }
     
     body {
         margin: 0px;

         font-family: sans-serif;
         overflow: scroll-y;
         background-color: white;
     }
     
     section {
         max-width: auto;
         margin-left: auto;
         margin-right: auto;
         margin-top: 20px;
         margin-bottom: 20px;
     }
     
     @font-face {
         font-family: "shlop";
         src: url("shlop.ttf") format('truetype');
     }
     /*.centerIMG {
	display: block;
  	margin-left: auto;
  	margin-right: auto;	
	background-color:;
	position: relative;
	align-items: center;
  	justify-content: center;

}*/
     /*.logo{

	display: block;
  	margin-left: auto;
  	margin-right: auto;	
	background-color:;
	position: relative;
	align-items: center;
  	justify-content: center;


}*/
     /*.logo{
	max-width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	background-color:;
	position: relative;
}*/
     
     .title {
         text-align: center;
         color: white;
     }
     /* Simple grid */
     
     .g-row {
         width: 100%;
         overflow: scroll;
     }
     
     .g-row img {
         width: 100%;

     }
     
     .g-50 {
         width: 50%;
         float: left;
     }
     
     .g-30 {
         width: 30%;
         float: left;
     }
     
     .g-70 {
         width: 70%;
         float: left;
     }
     
     .show {
         border: 1px solid blue;
         padding: 2px;
     }
     
     .padded {
         padding: 20px;
 
     }


     /*******************search page css**************/
     
     .search_header_left {
         float: left;
         width: 25%;
         text-align: center;
         padding-top: 5px;
     }
     
     .search_header_mide {
         float: left;
         padding: 0 15px;
         position: relative;
         width: 45%;
         padding-top: 25px;
     }
     
     .avsulate_sea {
         position: absolute;
         right: 29px;
         top: 30px;
         width: 28px;
     }
     
     .avsulate_sea img {
         max-width: 100%;
     }
     
     img {
         max-width: 100%;
     }
     
     .search_header_right {
         float: left;
         width: 30%;
         padding-top: 26px;
     }
     
     .search_header {
         background: #1d753b;
         position: relative;
         padding: 15px 0;
     }
     
     .search_header:before,
     .search_header:after {
         display: table;
         clear: both;
         content: "";
     }
     
     ul {
         margin: 0;
         padding: 0;
         list-style: none;
     }
     
     .search_header_right ul li {
         display: inline-block;
         padding: 0 10px;
     }
     
     .search_header_right ul li {
         display: inline-block;
         float: left;
         padding: 0 10px;
     }
     
     .search_header_right ul li a {
         background: transparent;
         border: 1px solid #fff;
         border-radius: 5px;
         line-height: 1.4;
         color: #fff;
         font-size: 16px;
         text-decoration: none;
         font-weight: 400;
         padding: 7px 10px;
         -webkit-transition: 0.4s;
         -o-transition: 0.4s;
         transition: 0.4s;
     }
     
     .search_header_right ul li a:hover {
         background: #fff;
         color: #000;
         border: 1px solid #fff;
     }
     
     .search_header_mide input {
         background: #51725b;
         font-size: 16px;
         font-weight: 400;
         color: #fff;
         border: 1px solid #000;
         border-radius: 5px;
         padding: 0 15px;
         padding-right: 45px;
     }
     
     .search_header_mide input:focus {
         color: #fff;
     }
     
     .course_area ul li {
         display: inline-block;
         padding: 0px;
         font-size: 18px;
         color: #7f7f7f;
     }
     
     .course_area ul li a {
         font-size: 17px;
         color: #7f7f7f;
         font-weight: 400;
         text-decoration: none;
     }
     
     .search_main_area {
         background: #f2f2f2;
         padding: 15px;
         position: relative;
     }
     
     .search_main_area:before,
     .search_main_area:after {
         display: table;
         clear: both;
         content: "";
     }
     
     .search_main_area_left {
         float: left;
         width: 40%;
     }
     
     .search_main_area_right {
         float: left;
         width: 60%;
     }
     
     .show_result_area {
         background: #e2e2e2;
         padding: 15px;
         margin-bottom: 35px;
         margin-top: 35px;
         border: 1px solid #1d753b;
         margin-right: 25px;
     }
     
     .show_result_area h3 {
         font-size: 18px;
         font-weight: 400;
         line-height: 1.4;
         color: #000;
         margin: 0;
         margin-bottom: 15px;
     }
     
     .show_result_area ul li {
         font-size: 18px;
         font-weight: 400;
         line-height: 1.4;
         color: #000;
         margin: 0;
     }
     
     .live>img {
         width: 100%;
     }
     
     .live {
         margin-right: 25px;
     }
     
     .result_left {
         float: left;
         width: 50%;
     }
     
     .result_right {
         float: left;
         width: 50%;
         text-align: right;
     }
     
     .result_left>h2 {
         margin: 0;
         line-height: 1.4;
         color: #000;
         font-size: 18px;
         font-weight: 400;
     }
     
     .result_right ul li {
         display: inline-block;
         color: #7f7f7f;
     }
     
     .result_right ul li a {
         margin: 0;
         line-height: 1.4;
         color: #7f7f7f;
         font-size: 20px;
         font-weight: 400;
         text-decoration: none;
     }
     
     .result_right img {
         width: 12px;
     }
     
     .result {
         position: relative;
         margin-bottom: 25px;
     }
     
     .result:before,
     .result:after {
         display: table;
         clear: both;
         content: "";
     }
     
     .sengle_management {
         margin-bottom: 25px;
         position: relative;
         background: #fff;
         padding: 30px 25px;
         padding-left: 160px;
     }
     
     .management_image {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 15px;
     }
     
     .management_text>h2 {
         color: #000;
         font-size: 24px;
         line-height: 1.4;
         margin: 0;
         margin-bottom: 20px;
         text-align: center;
     }
     
     .sengle_management li {
         color: #000;
         font-size: 20px;
         line-height: 1.4;
         margin: 0;
         margin-bottom: 5px;
     }
     
     .sengle_management span {
         margin-right: 10px;
     }

     .footer_area_login {

         padding: 25px 0;
         background: #7f7f7f;
     }

     .footer_area {
         padding: 25px 0;
         background: #7f7f7f;
     }
     
     .footer_area_inner ul {
         text-align: center;
     }
     
     .footer_area_inner ul li {
         display: inline-block;
         color: #fff;
     }
     
     .footer_area_inner ul li a {
         font-size: 18px;
         color: #fff;
         font-weight: 400;
         line-height: 1.4;
         text-decoration: none;
     }
     
     .show_result_area ul li label {
         display: block;
     }
     
     .show_result_area ul li {
         position: relative;
         padding-left: 30px;
         padding-bottom: 5px;
     }
     
     .show_result_area input {
         position: absolute;
         top: 0;
         left: 0;
     }
     
     .show_result_area ul li input[type="checkbox"] {
         display: none;
     }
     
     .show_result_area ul li input[type="checkbox"]+span::before {
         border: 1px solid #000;
         border-radius: 20px;
         content: "";
         height: 18px;
         left: 0;
         position: absolute;
         top: 2px;
         background: #fff;
         width: 19px;
     }
     
     .show_result_area ul li input[type="checkbox"]:checked+span::after {
         background: #a3a3a3 none repeat scroll 0 0;
         border-radius: 20px;
         color: #3c70a9;
         content: " ";
         height: 10px;
         left: 5px;
         position: absolute;
         top: 7px;
         width: 10px;
     }
     
     .width {
         max-width: 1170px;
         margin: 0 auto;
     }
     /*******************responsive  css (reference in README)**************/
     
     @media only screen and (max-width:1199px) {
         .width {
             max-width: 970px;
         }
         .search_header_right ul li a {
             font-size: 14px;
         }
     }
     
     @media only screen and (max-width:991px) {
         .width {
             max-width: 750px;
         }
         .search_header_right ul li {
             padding: 0 5px;
         }
         .search_header_right ul li:first-child {
             padding-left: 0;
         }
         .search_header_right ul li:last-child {
             padding-right: 0;
         }
         .search_header_mide {
             width: 40%;
         }
         .search_header_right {
             width: 35%;
         }
         .management_text>h2 {
             font-size: 20px;
         }
         .sengle_management li {
             font-size: 18px;
         }
         .sengle_management {
             padding-left: 130px;
         }
         .management_image {
             left: 9px;
             max-width: 110px;
         }
         .management_image img {
             max-width: 100%;
         }
         .search_header_left {
             padding-top: 15px;
         }
     }
     
     @media only screen and (max-width:767px) {
         .search_header_left {
             float: none;
             text-align: center;
             width: 100%;
             margin-bottom: 15px;
         }
         .search_header_right:before,
         .search_header_right:after {
             display: table;
             clear: both;
             content: "";
         }
         .search_header_mide {
             width: 100%;
             display: block;
             padding-bottom: 15px;
         }
         .search_header_right {
             width: 100%;
             float: none;
             text-align: center;
             padding-bottom: 15px;
         }
         .search_header_right ul li {
             float: none;
         }
         .search_main_area_left {
             float: none;
             width: 100%;
             margin-bottom: 25px;
         }
         .search_main_area_right {
             float: none;
             width: 100%;
         }
         .search_header_mide {
             padding-top: 0;
         }
         .search_header_left {
             margin-bottom: 0;
         }
         .avsulate_sea {
             top: 5px;
         }
     }
     
     @media only screen and (max-width:620px) {
         .bottom li {
             display: block;
             padding: 2px 10px;
         }
         .wrap {
             width: 70%;
         }
     }
     
     @media only screen and (max-width:500px) {
         .result_left {
             float: none;
             margin-bottom: 10px;
             width: 100%;
         }
         .result_right {
             float: none;
             text-align: left;
             width: 100%;
         }
         .sengle_management {
/*             padding-left: : 0;
*/             padding: 10px;
         }
         .management_image {
             left: auto;
             max-width: 100%;
             top: auto;
             transform: translate(0);
             position: relative;
             text-align: center;
             margin-bottom: 15px;
         }
         .sengle_management {
             padding: 10px;
         }
         .management_text>h2 {
             font-size: 18px;
             margin-bottom: 12px;
             text-align: center;
         }
         .sengle_management li {
             text-align: center;
         }
         .sengle_management span {
             margin-right: 0px;
         }
         .sengle_management li {
             font-size: 16px;
         }
         .footer_area_login {
             padding: 20px 0px;
               position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
         }
         .footer_area {
             padding: 20px 15px;
         }

         .footer_area_inner ul li a,
         .footer_area_inner ul li {
             font-size: 15px;
         }
         .search_header_mide input {
             font-size: 14px;
             padding: 0 35px 0 10px;
         }
         .review ul li {
             padding: 0 2px;
         }
         .wrap {
             width: 70%;
             left: 40%;
             top: 55%;
             transform: translate(-50%, -50%);
         }
         .bottom {
           bottom: 5%;
         }
     }

     <style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
</style>

.rating {
    float:left;
    width:300px;
}
.rating span { float:left; position:relative; }
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:left;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
